@mixin cf {
  &::after{
    content: '';
    display: block;
    clear: both;
  }  
}

@mixin ellipsis($line : 1) {
  overflow: hidden;
  text-overflow: ellipsis;
  
  @if ($line == 1) {
    white-space: nowrap; 
  } @else if($line > 1){
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;    
  }
}